In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('Nodos_26.csv',header=None)

In [3]:
# The distances are converted to km
df = df / 1000

In [4]:
columns = [1,2,5,6,7,8,11,12,13,14,15,16,17,'base',19,20,22,23,24,25,26,27,28,29,30,31]
df.columns = columns

In [5]:
df.index = columns

In [6]:
df = df / 1000

In [7]:
d=[0.4,0.52,0.56,0.19,0.28,0.6,0.67,0.47,0.97,0.34,0.98,0.64,0.11,0,0.92,0.38,0.82,0.53,0.64,0.05,0.75,0.28,0.64,0.54,0.76,0.4]
d = pd.DataFrame(d, index=columns, columns=['Demanda'])
d

      Demanda
1        0.40
2        0.52
5        0.56
6        0.19
7        0.28
8        0.60
11       0.67
12       0.47
13       0.97
14       0.34
15       0.98
16       0.64
17       0.11
base     0.00
19       0.92
20       0.38
22       0.82
23       0.53
24       0.64
25       0.05
26       0.75
27       0.28
28       0.64
29       0.54
30       0.76
31       0.40

In [8]:
# The velocity is fixed to 20
v = 20

In [9]:
demandas = d.copy()

# Proposed algorithm

In [10]:
demandas = d.copy()
n0 = 'base'
ruta = [n0]
rutas = []
costos = []
while demandas.sum()["Demanda"] > 0:
    carga = 1
    ruta = [n0]
    costo = 1
    while carga > 0 and demandas["Demanda"].sum() > 0:
        n = df.loc[n0, np.array(demandas["Demanda"]>0)].idxmax()
        ruta.append(n)
        
        if carga > demandas.loc[n].Demanda:
            carga -= demandas.loc[n].Demanda
            demandas.loc[n].Demanda = 0
            costo += df.loc[ruta[-2],n]/v
            
        elif carga == demandas.loc[n].Demanda:
            carga = 0
            demandas.loc[n].Demanda = 0
            ruta.append(n0)
            costo += df.loc[ruta[-2],n0]/v
            
        else:
            demandas.loc[n].Demanda -= carga
            carga = 0
            ruta.append(n0)
            costo += df.loc[ruta[-2],n0]/v
            
        while carga > 0 and demandas["Demanda"].sum() > 0:
            if df.loc[df.loc[n, np.array(demandas["Demanda"]>0)].idxmin(),n] < df.loc[n,'base']:
                n = df.loc[n, np.array(demandas["Demanda"]>0)].idxmin()

                ruta.append(n)
                
                if carga > demandas.loc[n].Demanda:
                    carga -= demandas.loc[n].Demanda
                    demandas.loc[n].Demanda = 0
                    costo += df.loc[ruta[-2],n]/v
                    
                elif carga == demandas.loc[n].Demanda:
                    carga = 0
                    demandas.loc[n].Demanda = 0
                    ruta.append(n0)
                    costo += df.loc[ruta[-2],n0]/v
                    
                else:
                    demandas.loc[n].Demanda -= carga
                    carga = 0
                    ruta.append(n0)
                    costo += df.loc[ruta[-2],n0]/v
                    
            else:
                carga = 0
                ruta.append(n0)
                costo += df.loc[ruta[-2],n0]/v
            
        
    rutas.append(ruta)
    costos.append(costo)
if rutas[-1][-1] != n0:
    rutas[-1].append(n0)
    costo += df.loc[ruta[-2],n0]
    
    
rutas

[['base', 1, 5, 11, 'base'],
 ['base', 6, 2, 8, 'base'],
 ['base', 7, 8, 14, 15, 'base'],
 ['base', 26, 25, 19, 'base'],
 ['base', 27, 28, 29, 'base'],
 ['base', 20, 22, 'base'],
 ['base', 13, 22, 'base'],
 ['base', 29, 30, 'base'],
 ['base', 11, 12, 'base'],
 ['base', 19, 16, 'base'],
 ['base', 22, 23, 24, 'base'],
 ['base', 12, 31, 15, 'base'],
 ['base', 30, 24, 'base'],
 ['base', 16, 17, 'base'],
 ['base', 15, 'base']]

# Calculate cost of decimal part

In [11]:
parte_decimal_horas = 0
for i in range(len(costos)):
    parte_decimal_horas += costos[i]
print("The cost of the decimal past is:" + str(parte_decimal_horas))

The cost of the decimal past is:15.00110944814618

# Integer Part

Nodos 3,4,9,10,21

In [12]:
distances_enteras = pd.read_csv('distances.csv',header=0,index_col=0)

In [13]:
distances_enteras = distances_enteras / 1000
distances_enteras

,1,2,3,4,5,6,7,8,9,10,...,22,23,24,25,26,27,28,29,30,31
1,0.000000,0.626132,0.441787,0.318619,0.277378,0.868966,1.013380,0.874584,0.766652,0.700437,...,1.506787,1.510845,1.464129,1.791419,2.065509,1.993305,1.939598,1.856978,1.745490,0.975203
2,0.626132,0.000000,0.209060,0.386095,0.614452,0.242857,0.428809,0.400255,0.453782,0.575876,...,1.114286,1.204922,1.242529,1.923114,2.205466,1.535565,1.513275,1.485714,1.446742,0.939931
3,0.441787,0.209060,0.000000,0.177166,0.405714,0.441971,0.572349,0.457580,0.414325,0.462548,...,1.147683,1.200014,1.203427,1.782280,2.065072,1.606731,1.568436,1.514431,1.442996,0.823774
4,0.318619,0.386095,0.177166,0.000000,0.228589,0.614226,0.714834,0.558540,0.450994,0.418120,...,1.195369,1.215012,1.188915,1.666724,1.948398,1.676880,1.626279,1.551565,1.454230,0.748419
5,0.277378,0.614452,0.405714,0.228589,0.000000,0.838487,0.913951,0.729131,0.575876,0.460035,...,1.284920,1.264911,1.202463,1.529572,1.807016,1.783828,1.719338,1.620909,1.493523,0.700583
6,0.868966,0.242857,0.441971,0.614226,0.838487,0.000000,0.257143,0.365893,0.515079,0.690460,...,1.022702,1.153964,1.229900,2.021164,2.300177,1.390419,1.385788,1.388069,1.386892,1.030158
7,1.013380,0.428809,0.572349,0.714834,0.913951,0.257143,0.000000,0.230350,0.429523,0.629220,...,0.773146,0.920182,1.017400,1.885768,2.158467,1.134343,1.128662,1.134703,1.146156,0.912945
8,0.874584,0.400255,0.457580,0.558540,0.729131,0.365893,0.230350,0.000000,0.200000,0.400000,...,0.714429,0.810769,0.868966,1.673381,1.949411,1.152194,1.120678,1.085808,1.050656,0.690460
9,0.766652,0.453782,0.414325,0.450994,0.575876,0.515079,0.429523,0.200000,0.000000,0.200000,...,0.745736,0.785714,0.796933,1.506246,1.785714,1.226660,1.175429,1.106659,1.028671,0.515079
10,0.700437,0.575876,0.462548,0.418120,0.460035,0.690460,0.629220,0.400000,0.200000,0.000000,...,0.825734,0.810769,0.771429,1.348090,1.630137,1.327342,1.259900,1.162071,1.045203,0.365893
11,0.688091,0.733040,0.579859,0.475661,0.414286,0.876449,0.829064,0.600000,0.400000,0.200000,...,0.942099,0.881673,0.796933,1.202463,1.485233,1.448786,1.368598,1.247446,1.098515,0.287139
12,0.859521,0.955008,0.802186,0.688186,0.582920,1.087968,1.014587,0.784545,0.589015,0.397954,...,0.971534,0.860114,0.730110,0.981149,1.263700,1.468930,1.373956,1.227325,1.046374,0.202031
13,1.292048,0.793468,0.879095,0.973846,1.121315,0.657764,0.401019,0.421852,0.545856,0.705662,...,0.389924,0.575876,0.721110,1.703598,1.957977,0.742445,0.728711,0.738034,0.776833,0.832993
14,1.088811,0.769309,0.757191,0.782362,0.863075,0.752818,0.556410,0.389924,0.343155,0.404313,...,0.421852,0.443087,0.479157,1.350586,1.616370,0.923392,0.856309,0.769309,0.686309,0.446529
15,1.052596,0.863075,0.798386,0.774813,0.796933,0.899093,0.737481,0.536238,0.409330,0.357143,...,0.546977,0.472941,0.414286,1.149978,1.421123,1.050559,0.963942,0.838122,0.696639,0.239472
16,1.260081,1.355506,1.215428,1.106013,0.988179,1.461299,1.343969,1.123355,0.946685,0.781344,...,1.054286,0.868783,0.678690,0.567997,0.850743,1.490873,1.374865,1.192223,0.968403,0.433175
17,1.307264,1.283776,1.176005,1.098901,1.029920,1.351175,1.199064,0.993715,0.842470,0.715570,...,0.817013,0.623486,0.431088,0.691051,0.959677,1.243366,1.126979,0.944717,0.722863,0.352773
18,1.401166,1.272391,1.199282,1.154286,1.128571,1.298665,1.112820,0.932847,0.818660,0.741757,...,0.614286,0.406328,0.208003,0.843341,1.088811,1.018703,0.901020,0.717848,0.497545,0.429523
19,1.507803,1.631639,1.489196,1.374330,1.242200,1.735582,1.610425,1.393278,1.220572,1.057529,...,1.244170,1.036576,0.836416,0.293118,0.575876,1.632639,1.509291,1.314674,1.080155,0.705662
20,1.668740,1.175429,1.262792,1.350135,1.481588,1.020704,0.765720,0.805213,0.908576,1.040506,...,0.328882,0.545856,0.744092,1.777180,2.001020,0.371429,0.393052,0.485294,0.632778,1.067612
21,1.598469,1.134703,1.205189,1.280676,1.400073,1.000000,0.742857,0.749966,0.832993,0.951476,...,0.214286,0.434483,0.631163,1.664577,1.891172,0.402289,0.385979,0.428809,0.543045,0.958315
22,1.506787,1.114286,1.147683,1.195369,1.284920,1.022702,0.773146,0.714429,0.745736,0.825734,...,0.000000,0.225877,0.418208,1.451389,1.681229,0.506690,0.434483,0.371429,0.388613,0.772618
23,1.510845,1.204922,1.200014,1.215012,1.264911,1.153964,0.920182,0.810769,0.785714,0.810769,...,0.225877,0.000000,0.200510,1.231558,1.456863,0.627271,0.520008,0.368671,0.243277,0.658539
24,1.464129,1.242529,1.203427,1.188915,1.202463,1.229900,1.017400,0.868966,0.796933,0.771429,...,0.418208,0.200510,0.000000,1.033421,1.264669,0.812278,0.696639,0.520008,0.317194,0.536808
25,1.791419,1.923114,1.782280,1.666724,1.529572,2.021164,1.885768,1.673381,1.506246,1.348090,...,1.451389,1.231558,1.033421,0.000000,0.282843,1.786114,1.658682,1.458683,1.224412,0.991494
26,2.065509,2.205466,2.065072,1.948398,1.807016,2.300177,2.158467,1.949411,1.785714,1.630137,...,1.681229,1.456863,1.264669,0.282843,0.000000,1.971636,1.843079,1.642919,1.414935,1.271750
27,1.993305,1.535565,1.606731,1.676880,1.783828,1.390419,1.134343,1.152194,1.226660,1.327342,...,0.506690,0.627271,0.812278,1.786114,1.971636,0.000000,0.128571,0.328882,0.561703,1.267570
28,1.939598,1.513275,1.568436,1.626279,1.719338,1.385788,1.128662,1.120678,1.175429,1.259900,...,0.434483,0.520008,0.696639,1.658682,1.843079,0.128571,0.000000,0.200510,0.434483,1.171951
29,1.856978,1.485714,1.514431,1.551565,1.620909,1.388069,1.134703,1.085808,1.106659,1.162071,...,0.371429,0.368671,0.520008,1.458683,1.642919,0.328882,0.200510,0.000000,0.235606,1.026287
30,1.745490,1.446742,1.442996,1.454230,1.493523,1.386892,1.146156,1.050656,1.028671,1.045203,...,0.388613,0.243277,0.317194,1.224412,1.414935,0.561703,0.434483,0.235606,0.000000,0.850570
31,0.975203,0.939931,0.823774,0.748419,0.700583,1.030158,0.912945,0.690460,0.515079,0.365893,...,0.772618,0.658539,0.536808,0.991494,1.271750,1.267570,1.171951,1.026287,0.850570,0.000000

In [14]:
demandas_enteras = pd.DataFrame([5,7,8,8,7,4,6,7,8,8,7,1,7,7,5,5,6,0,4,1,8,7,5,5,5,4,1,6,6,6,5],index=distances_enteras.index,columns=['Demanda'])

In [15]:
demandas_enteras

    Demanda
1         5
2         7
3         8
4         8
5         7
6         4
7         6
8         7
9         8
10        8
11        7
12        1
13        7
14        7
15        5
16        5
17        6
18        0
19        4
20        1
21        8
22        7
23        5
24        5
25        5
26        4
27        1
28        6
29        6
30        6
31        5

In [17]:
costo_entero_horas = distances_enteras['18']*demandas_enteras['Demanda']/v *2 + demandas_enteras['Demanda']
print("The cost of the integer part is:", str(costo_entero_horas.sum()))

The cost of the integer part is: 182.6795204385851

In [19]:
print("The total cost is: " ,str((costo_entero_horas.sum()) + (parte_decimal_horas)))

The total cost is:  197.68062988673125

In [20]:
Costo_total_jornadas = (costo_entero_horas.sum()/8) + (parte_decimal_horas/8)
print("The minimun days in which the problem can be solved is: " , np.ceil(Costo_total_jornadas))

The minimun days in which the problem can be solved is:  25.0

# Associate each route with the corresponding cost so it can be processed to the model of ordering routes

In [21]:
df_ruta_costos_decimal = pd.DataFrame({'Route': [route[1:] for route in rutas]})

#Add the cost of each route to the dataframe
df_ruta_costos_decimal['Cost'] = costos

In [22]:
df_ruta_costos_decimal

                   Route      Cost
0       [1, 5, 11, base]  1.000120
1        [6, 2, 8, base]  1.000124
2   [7, 8, 14, 15, base]  1.000107
3     [26, 25, 19, base]  1.000100
4     [27, 28, 29, base]  1.000093
5         [20, 22, base]  1.000078
6         [13, 22, base]  1.000074
7         [29, 30, base]  1.000061
8         [11, 12, base]  1.000066
9         [19, 16, base]  1.000055
10    [22, 23, 24, base]  1.000052
11    [12, 31, 15, base]  1.000060
12        [30, 24, base]  1.000051
13        [16, 17, base]  1.000047
14            [15, base]  1.000020

In [23]:

df_ruta_costos_entera = pd.DataFrame({'Route': distances_enteras.index, 'Cost': costo_entero_horas})

In [24]:

df_ruta_costos = pd.concat([df_ruta_costos_entera,df_ruta_costos_decimal], ignore_index=True)

In [25]:
df_ruta_costos.to_csv('Costos_rutas.csv',index=False)

In [26]:
df_ruta_costos

                   Route      Cost
0                      1  5.700583
1                      2  7.890674
2                      3  8.959426
3                      4  8.923429
4                      5  7.790000
5                      6  4.519466
6                      7  6.667692
7                      8  7.652993
8                      9  8.654928
9                     10  8.593406
10                    11  7.500000
11                    12  1.059659
12                    13  7.609262
13                    14  7.389487
14                    15  5.204665
15                    16  5.237272
16                    17  6.136121
17                    18  0.000000
18                    19  4.252465
19                    20  1.094297
20                    21  8.662857
21                    22  7.430000
22                    23  5.203164
23                    24  5.104002
24                    25  5.421671
25                    26  4.435525
26                    27  1.101870
27                    28  6.540612
28                    29  6.430709
29                    30  6.298527
30                    31  5.214761
31      [1, 5, 11, base]  1.000120
32       [6, 2, 8, base]  1.000124
33  [7, 8, 14, 15, base]  1.000107
34    [26, 25, 19, base]  1.000100
35    [27, 28, 29, base]  1.000093
36        [20, 22, base]  1.000078
37        [13, 22, base]  1.000074
38        [29, 30, base]  1.000061
39        [11, 12, base]  1.000066
40        [19, 16, base]  1.000055
41    [22, 23, 24, base]  1.000052
42    [12, 31, 15, base]  1.000060
43        [30, 24, base]  1.000051
44        [16, 17, base]  1.000047
45            [15, base]  1.000020

In [27]:
df = df_ruta_costos

# Create a new list to store the modified rows
new_rows = []

# Iterate over the dataframe
for index, row in df.iterrows():
    cost = row['Cost']
    route = row['Route']
    
    # Check if the integer part of the cost is even and greater than 0
    if int(cost) % 2 == 0 and int(cost) != 0:
        integer_part = int(cost)
        decimal_part = cost - integer_part
        
        # Divide the cost into equal parts based on the integer part
        divided_cost = 1 + (decimal_part / integer_part)
        
        # Append the route multiple times based on the integer part
        for _ in range(integer_part):
            new_rows.append({'Route': route, 'Cost': divided_cost})
    else:
        # If the cost is not even, retain the original row
        new_rows.append({'Route': route, 'Cost': cost})

# Convert new_rows to a DataFrame
new_df = pd.DataFrame(new_rows)

# Display the resulting dataframe
new_df

                  Route      Cost
0                     1  5.700583
1                     2  7.890674
2                     3  1.119928
3                     3  1.119928
4                     3  1.119928
..                  ...       ...
110  [22, 23, 24, base]  1.000052
111  [12, 31, 15, base]  1.000060
112      [30, 24, base]  1.000051
113      [16, 17, base]  1.000047
114          [15, base]  1.000020

[115 rows x 2 columns]

In [40]:
# Save the resulting dataframe to a CSV file
new_df.to_csv('rutas_costos.csv', index=False)